@use "fonts";
@use "mixins";
@use "variables" as *;

body {
    margin: 0;
}

.container {
    width: 100%;
}

.content {
    width: 1110px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.sticky_nav {
    background-color: #EFEFEF;
    position: sticky;
    top: 0;

    ul {
        @extend .average_font;
        margin: 0 auto;
        width: 360px;
        height: 17px;

        padding: {
            top: 17px;
            bottom: 16px;
        }

        ;
        display: flex;
        justify-content: space-between;
    }

    a,
    a:visited {
        @extend .average_font;
        color: #333333;
    }
}

header {
    .content>:first-child {
        display: flex;
        justify-content: space-between;

        .logo {
            padding: {
                top: 20px;
                bottom: 20px;
            }

            ;
            display: flex;
            align-items: center;

            img {
                width: 80px;
                height: 80px;
            }

            p {
                font-family: Roboto;
                font-weight: 700;
                font-size: 36px;
                line-height: 100%;
                letter-spacing: 10%;
                padding-left: 20px;
            }
        }

        .call_back {
            display: flex;
            align-items: center;

            a {
                color: black;
                @include mixins.medium_font(400);
                padding-right: 40px;
            }

            button {
                @include mixins.button("pink")
            }
        }

    }

    .borderline {
        width: 100vw;
        position: absolute;
        top: 170px;
        left: 0;
        border-top: 1px solid #EFEFEF;
    }

    nav {
        @include mixins.medium_font(400);
        padding: {
            top: 30px;
            bottom: 30px;
        };

        a,
        a:visited {
            color: #000000;
        }

        ul {
            display: flex;
            justify-content: center;
            gap: 40px;
        }
    }
}

main {
    background-color: $theme;

    .imageBlock {
        height: 604px;

        &_title {
            font-family: Roboto;
            font-weight: 700;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #FFFFFF;
            height: 44px;

            padding: {
                top: 192px;
                bottom: 50px;
            }

            ;
        }

        &_text {
            @extend .average_font;
            line-height: 20px;
            letter-spacing: 0%;

            color: #FFFFFF;
            width: 308px;
            height: 35px;
            margin-bottom: 50px;
        }

        button {
            @include mixins.button("white");
        }
    }

    background-image: url(../images/main_pick.jpg);
    background-size: cover;
}