@use "fonts";
@use "mixins";
@use "variables" as *;

body {
    margin: 0;
}

.container {
    width: 100%;
}

.content {
    width: 1110px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.stickyNav {
    background-color: $background;
    position: sticky;
    top: 0;

    ul {
        @extend .average_font;
        margin: 0 auto;
        width: 360px;
        height: 17px;

        padding: {
            top: 17px;
            bottom: 16px;
        }

        ;

        display: flex;
        justify-content: space-between;
    }

    a,
    a:visited {
        @extend .average_font;
        color: #333333;
    }
}

header {
    .content>:first-child {
        display: flex;
        justify-content: space-between;

        .logo {
            padding: 20px 0;

            display: flex;
            align-items: center;

            img {
                width: 80px;
                height: 80px;
            }

            p {
                font-family: Roboto;
                font-weight: 700;
                font-size: 36px;
                line-height: 100%;
                letter-spacing: 10%;
                padding-left: 20px;
            }
        }

        .callBack {
            display: flex;
            align-items: center;

            a {
                color: black;
                @include mixins.medium_font(400);
                padding-right: 40px;
            }

            button {
                @include mixins.button("pink")
            }
        }

    }

    .borderline {
        width: 100vw;
        position: absolute;
        top: 170px;
        left: 0;
        border-top: 1px solid $background;
    }

    nav {
        @include mixins.medium_font(400);

        padding: 40px 0;

        a,
        a:visited {
            color: #000000;
        }

        ul {
            display: flex;
            justify-content: center;
            gap: 40px;
        }
    }
}

main {
    position: relative;

    &>::before {
        height: 100%;
        width: 100%;
        content: "";
        position: absolute;
        left: 0;
        z-index: -2;
        background-color: $background;
    }

    .content {
        &__title {
            padding: {
                top: 80px;
                bottom: 38px;
            }

            ;
            height: 29px;

            font-family: Roboto;
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
        }

        .imageBlock {
            height: 604px;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                z-index: -1;
                width: 100vw;
                height: 604px;
                background-image: url("../images/sale_pick.jpg");
                background-size: cover;
            }

            &__title {
                font-family: Roboto;
                font-weight: 700;
                font-size: 48px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #FFFFFF;
                height: 44px;

                padding: {
                    top: 192px;
                    bottom: 50px;
                }

                ;
            }

            &__text {
                @extend .average_font;
                line-height: 20px;
                letter-spacing: 0%;

                color: #FFFFFF;
                width: 308px;
                height: 35px;
                margin-bottom: 50px;
            }

            button {
                @include mixins.button("white");
            }
        }

        .productList {
            display: flex;
            justify-content: space-between;

            &__element {
                width: 255px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #FFFFFF;

                img {
                    padding-top: 25px;
                    height: 166px;
                    width: 125px;
                    object-fit: cover;
                }

                p {
                    @extend .average_font;
                    width: 195px;
                    line-height: 141%;
                    text-align: center;

                    padding: 20px 0;
                }

                p+p {
                    font-family: Roboto;
                    font-weight: 500;
                    font-size: 21px;
                    line-height: 100%;
                    letter-spacing: 5%;
                    text-align: center;

                    padding: 0;
                    margin-bottom: 20px;
                }

                button {
                    @include mixins.button("buy");
                    margin-bottom: 25px;
                }
            }
        }

        .promoInfo {
            padding: 100px 0;
            display: flex;
            justify-content: space-between;

            p {
                font-family: Roboto;
                font-weight: 700;
                font-size: 18px;

                height: 17px;
                color: #FFFFFF
            }

            p+p {
                @extend .average_font;
                line-height: 141%;

                width: 129px;
                height: 40px;
                padding: 25px 0;
                color: #FFFFFF;
            }

            >div {
                width: 460px;
                padding: 35px 40px;
                background-color: $theme;
                
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            
            .Mail_Image {
                width: 140px;
                height: 106.5px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                >:first-child{
                    position: absolute;
                }
            } 

            >:last-child img{
                width: 190px;
                height: 100px;
            }

            input {
                width: 175px;
                height: 17px;
                padding: 9px 25px;

                border: none;
                border-radius: 30px;
                background-color: #FFFFFF;
                color: #C4C4C4;
            }

            button {
                @include mixins.button("white");
                height: 35px;
                border-radius: 30px;
            }
        }

        .impulsBox {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            img {
                border: 1px solid $background;
                padding: 35px 63px;
                background-color: #FFFFFF;
            }
        }

        &>:last-child {
            padding-bottom: 80px;
        }
    }
}